<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rongzi.assistant.dao.CityMapper">

    <select id="queryAllCitys" resultType="com.rongzi.assistant.model.City">
      SELECT
          CityID AS cityID,
          CityCode AS cityCode,
          CityName AS cityName
      FROM T_City
    </select>

</mapper>
