<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rongzi.assistant.dao.CustomerMapper">


    <select id="queryAllCutomers" resultType="com.rongzi.assistant.model.Customer">


        SELECT
        A.CLT_MEMO AS comment,
        B.LNK_NAME AS name,
        B.LNK_MOBILE AS mobile,
        B.CLT_CODE AS customerCode,
        C.PAYMENT_DATE AS paymentDate,
        C.RQR_AMOUNT AS rqrAmount,
        C.RQR_DURATION AS rqrDuration,
        F.SEL_TXT AS job,
        D.IsSecuityOrFund AS IsSecuityOrFund,
        C.LoanCity AS workPlace,
        D.HasHouse AS hasHouse ,
        D.HasCar AS hasCars ,
        D.HasPolicy AS hasPolicy,
        E.Salary AS salary,
        A.CLT_EXE_STATUS AS exeStatus,
        B.ContactStatus AS contactStatus
        FROM dbo.SAL_CLT_BASE A (NOLOCK)
        LEFT JOIN dbo.SAL_CLT_LNKMAN B (NOLOCK) ON A.CLT_CODE=B.CLT_CODE AND LNK_DEFAULT=1
        LEFT JOIN dbo.SAL_CLT_REQUIRE C (NOLOCK) ON A.RQR_ID=C.RQR_ID
        LEFT JOIN dbo.FinancingBooksInfo D (NOLOCK) ON A.CLT_CODE=D.CLT_CODE
        LEFT JOIN dbo.CustomerExtentInfo E (NOLOCK) ON A.CLT_CODE=E.CLT_CODE
        LEFT JOIN dbo.SYS_SELECT_LIST F (NOLOCK) ON A.CLT_TYPE=F.SEL_KEY and F.SEL_TYPE='OccupationalIdentity'
        WHERE
        A.CLT_STATUS='1' AND clt_owner=#{empCode}
        <choose>
            <when test="customerExeStatus!=null and customerExeStatus!=-1  and customerExeStatus !=0 and  customerExeStatus !=10 and customerExeStatus!=5 and customerExeStatus!=6">
                AND CLT_EXE_STATUS=#{customerExeStatus}
            </when>
            <when test="customerExeStatus!=null and customerExeStatus==5">
                AND CLT_EXE_STATUS IN (5,6)
            </when>
            <otherwise>
                AND CLT_EXE_STATUS !=0 AND CLT_EXE_STATUS !=10
            </otherwise>
        </choose>


    </select>


    <update id="editCommentByCodeAndComment" parameterType="com.rongzi.assistant.model.Customer">

        UPDATE SAL_CLT_BASE
        <set>
            <if test="comment!='' and comment!=null ">CLT_MEMO=#{comment},</if>
        </set>
        WHERE CLT_CODE =#{customerCode}
    </update>

    <update id="syncContactStatusByCallRecords" parameterType="com.rongzi.assistant.model.CallRecord">

        <foreach collection="callRecords" separator="," item="record" index="index" open="" close="">

            update SAL_CLT_LNKMAN
            <set>
                ContactStatus =#{record.callStatus}
            </set>
            WHERE LNK_MOBILE =#{record.mobile}
        </foreach>
    </update>


</mapper>
