<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rongzi.assistant.dao.SmsTemplateMapper">


    <sql id="Base_Column_List">
        DicKey AS id, DicText AS title, DicRemark as content
    </sql>


    <select id="queryAllsmsTemplates" resultType="com.rongzi.assistant.model.SmsTemplate">



        SELECT Id AS id,
        Title AS title,
        Description AS content
        FROM dbo.UserMsgSettings
        WHERE Type=1
        and IsDelete=0
        AND UseFlag=1
        AND EmpCode=#{empCode}

    </select>


</mapper>
