@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <input type="hidden" id="paramsData" value="${paramsData}"/>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                        <#table id="nginxDetailTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modules/nginx/nginx_detail.js"></script>
@}