@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="productInfoForm">

            <input type="hidden" id="id" value="${product.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="产品名称" underline="true" value="${product.name}"/>
                    <#input id="count" name="产品数量" underline="true" value="${product.count}"/>

                    <#input id="productionDate" name="生产日期" underline="true" type="date"
                    clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${product.productionDate}"/>

                </div>
                <div class="col-sm-6">
                    <#input id="description" name="产品描述" underline="true" value="${product.description}"/>

                    <#input id="expireDate" name="过期时间" underline="true" type="date"
                    clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${product.expireDate}"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modules/demo/product/product_info.js"></script>
@}
