<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rongzi.dataSource.dao.CltBaseMapper">








    <select id="queryCltBaseAll" resultType="com.rongzi.dataSource.model.CltBase">


     SELECT TOP 10 CLT_ID AS  id,CLT_CODE as code ,CLT_TYPE as type ,CLT_SOURCE as source, CLT_STATUS  as status


      FROM [SAL_CLT_BASE]

    </select>

</mapper>
